@media (max-width: 768px) {
    .Footer-Contents{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .Footer-Link-Sections {
        flex-direction: column;
        align-items: center;
    }
}
.Footer{
    margin-top: 20px;
    background-color: rgb(204, 223, 240);
    
}