.hero-slider {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.slider-img {
  width: 100%;
  height: 65vh;
  object-fit: cover;
  /* filter: brightness(80%); */
}

.slide-container {
  position: relative;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: white;
  max-width: 500px;
}

.slide-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.slide-content p {
  font-size: 1.2rem;
  margin: 10px 0 20px;
}

.slide-btn {
  background-color: #0d2a46;
  color: white;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.slide-btn:hover {
  background-color: #13385f;
}
